/*************************
      GENERAL SETTINGS
*************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

*:focus {
	outline: none;
}

html,
body {
	text-rendering: optimizeLegibility;
	font-family: 'Raleway', sans-serif !important;
}

/**********************************
             REUSABLES
**********************************/
.sectionClass {
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

.mainColor {
	color: #2ecc71 !important;
}

.whiteColor {
	color: #fff !important;
}

.buttons:link,
.buttons:visited {
	display: inline-block;
	text-decoration: none;
	padding: 10px 30px;
	color: #2ecc71 !important;
	border: 2px solid #2ecc71;
	border-radius: 10px;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
}

.buttons:hover,
.buttons:active {
	color: #fff !important;
	background-color: #2ecc71;
}

/****************************
        HEADINGS
****************************/
h1,
h2 {
	text-transform: uppercase;
}

h1 {
	margin-top: 0px !important;
	padding-top: 150px;
	word-spacing: 4px;
	letter-spacing: 1px;
	font-weight: 700 !important;
}

h4 {
	word-spacing: 2px;
	letter-spacing: 1px;
	line-height: 140% !important;
}

h5 {
	font-weight: bolder !important;
}

/****************************
             LINKS
****************************/

.navbar-right li a:link,
.navbar-right li a:visited {
	color: #fff !important;
	text-decoration: none;
	transition: color 0.2s;
	background-color: transparent !important;
}

.navbar-right li a:hover,
.navbar-right li a:active {
	color: #2ecc71 !important;
	background-color: transparent !important;
}


/********************************
            HOME
********************************/
#home {
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("Images/home2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #e0e0d1;
	text-align: left;
}

.scroll {
	background-color: rgba(169,169,169, 0.6) !important;
	transition: all 0.3s ease-in-out;
}

.navBar {
	background-color: rgba(255, 255, 255, 0.3) /*#A9A9A9*/;
	transition: all 0.3s ease-in-out;
}

.navbar-nav > li.dropdown.dropdown-menu a{
    color: #2ecc71 !important;
}

.navbar-nav > li.dropdown.dropdown-menu a:hover{
    color: white !important;
    background-color: #16733e !important;
}

#teamUl {
	display: none;
	position: absolute;
	list-style-type:none;
	margin-left: -10px !important;
}
.wong {
	background-color: white;
	color: #2ecc71 !important;
	padding: 5px 20px 5px 20px;
}

.fa-sort-desc {
	vertical-align: top;
}

hr {
	margin: 0 !important;
	padding: 0;
	border: 1px solid #2ecc71 !important;
}
.wong:hover {
	background-color:  #16733e;
	 color: white !important;
	 cursor: pointer;
}


#navDrop {
	text-align: center !important;
}

ul li a {
	color: rgb(255, 255, 255);
	font-weight: bolder;
}

.navbar-brand {
	color: rgb(255, 255, 255);
	font-weight: 700;
	font-size: 26px !important;
}

.navbar-brand span {
	font-weight: bolder;
}

.homeNews {
	width: 47%;
	border: 2px solid #2ecc71;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #555;
}

.h4Home {
	width: 47%;
}

.homeNews h5 {
	padding-left: 15px;
}

.pNews {
	padding: 0px 15px !important;
}

.newsImage img {
	width: 100%;
	height: auto;
	padding: 15px;
}

.homeNews #pHomeNews {
	font-size: 18px;
	background-color: #2ecc71 !important;
	padding-left: 10px;
	padding-bottom: 5px;
	margin-bottom: 0;
	color: #fff;
}

.carouselHome {
	background-color: #fff !important;
}

.carouselHomeRow {
	padding: 10px;
}

.watchVideo {
	margin-bottom: 120px;
}

/********************************
           ABOUT
********************************/

.chooseUs {
	margin-bottom: 20px;
}

.pAbout {
	margin-bottom: 100px;
}

.chooseUs {
	padding: 0px 0px;
}

.iconChooseUs {
	border: 2px solid #2ecc71;
	color: #2ecc71 !important;
	width: 80px;
	height: 80px;
	margin-right: auto !important;
	margin-left: auto !important;
	transform: rotate(135deg);
	margin-bottom: 30px;
	transition-duration: 0.5s;
}
.iconChooseUs:hover {
	background-color: #2ecc71;
	color: #fff !important;
	border: 2px solid #fff;
    text-decoration: none;
}

.colChooseUs p {
	text-align: justify !important;
}

.fa-calendar-check-o, .fa-user-md, .fa-credit-card-alt, .fa-stethoscope {
	transform: rotate(225deg);
	margin-left: 7px;
	margin-right: 8px;
	margin-top: 17px;
}

.h4SecondWord {
	color: #2ecc71;
	font-weight: bold;
}

/********************************
           SERVICES
********************************/
#services {
	background-color: #f7f8f7;
}

.radiology {
	height: 300px;
	width: 100%;
	background-image: url("Images/radiology.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.cardiology {
	height: 300px;
	width: 100%;
	background-image: url("Images/cardiology.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.laboratory {
	height: 300px;
	width: 100%;
	background-image: url("Images/laboratory.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.dentistry {
	height: 300px;
	width: 100%;
	background-image: url("Images/dentistry.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.departments {
	background-color: #2ecc71;
	color: #fff;
	position: absolute;
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.departments h3 {
	margin: 0;
	padding: 20px 20px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.colPadding {
	padding: 0 !important;
}

.moveUp {
	margin-top: -66px !important;
}

#radilogyReadMore,
#cardiologyReadMore,
#laboratoryReadMore,
#dentistryReadMore {
	padding: 11px 11px;
	background-color: #fff;
	color: #2ecc71;
	position: absolute;
	width: 100%;
	display: none;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

#radilogyReadMore:hover,
#cardiologyReadMore:hover,
#laboratoryReadMore:hover,
#dentistryReadMore:hover {
	background-color:#25a25a;
	color: #fff;
}

.separate {
	width: 100%;
	height: 70px;
	background-color: #f7f8f7; 
}

/* css za lightbox */

.black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: fixed;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 16px solid #2ecc71;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
#btnClose {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0px !important;
	font-size: 20px !important;
	cursor: pointer;
}

/* kraj css-a za lightbox */

/********************************
           TEAM
********************************/

.ourTeam {
	margin-bottom: 20px;
}
.teamMember {
	width: 100%;
	height: 250px;
	margin-bottom: 20px;
}
.pTeam {
	margin-bottom: 100px;
}
.twitterColor, .faceColor, .linkColor, .googleColor {
	color: #2ecc71 !important;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.twitterColor:hover, .faceColor:hover, .linkColor:hover, .googleColor:hover {
	color: #25a25a !important;
	transform: scale(1.2);
}

/********************************
           TESTIMONIALS
********************************/

#testimonials {
	background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("Images/home_novi_novi.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
}
.carouselTestimonials {
	background-color: transparent !important;
}
#testimonials h2 {
	margin-bottom: 40px;
}

.imageCarouselTestimonials {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 10% !important;
  border: 4px solid #2ecc71;
  border-radius: 50%;
  padding: 0 !important;
}
.spanStar {
	color: #e6b800;
}
.pTestimonials {
	font-size: 18px;
	margin-bottom: 30px;
}
.pTestimonials1 {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.pTestimonials, .pTestimonials1 {
	color: #fff;
}
/********************************
           BLOG
********************************/
#news {
	background-color: #f7f8f7;
}
#news h2 {
	margin-bottom: 30px;
}
.colBlog {
	text-align: left;
}
.pNews1 {
	color: #2ecc71;
}
.pBlog {
	margin-bottom: 100px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#imageBlog1, #imageBlog2, #imageBlog3, #imageBlog4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
}
#imageBlog1 {
	background-image: url("Images/advanced-machine.jpg");
}
#imageBlog2{
	background-image: url("Images/breath.jpg");
}
#imageBlog3 {
	background-image: url("Images/health.jpg");
}
#imageBlog4 {
	background-image: url("Images/microscope.jpg");
}
.BBlog {
	width: 30%;
	height: 50px;
	background-color: white;
	color: #2ecc71;
	outline: 0;
	border: solid 1px #2ecc71;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
}
.BBlog:hover  {
	background-color: #2ecc71;
	color: white !important;
	border: solid 1px #fff;
	font-weight: bold;

}
.BBlog span {
	color: black;
	padding-left: 5px;
}
.fa-angle-double-right {
	color: #2ecc71 !important;
	transition: all 0.3s ease-in-out;
}


/********************************
           CONTACT
********************************/

.map-box {
	width: 100%;
	position: relative;
}

.map {
	width: 100%;
	height: 550px;
	position: relative;
	z-index: 0;
}

.form-box {
	position: absolute;
	width: 50%;
	top: 0;
	right: 0;
	background-color: rgba(255,255,255,0.8);
	z-index: 10;
	height: 550px;
	padding: 50px 100px;
}

.form-box p {
	display: inline-block;
}

.input-group {
	width: 70%;
}

.input-group-addon{
	padding-bottom: 8px !important;
	font-size: 15px !important;
	background-color:  #2ecc71 !important;
	color: white !important;
	font-weight: bolder !important;
	cursor: pointer;
	width: 70px !important;
	transition: all 0.5s ease-in-out;
}
.input-group-addon:hover{
	background-color: transparent !important;
	color:  #2ecc71 !important;
}

.horizontalLine {
	width: 69%;
	margin-bottom: 30px !important;
	border: 0px 0px 1px 0px !important;
	border-bottom-color: #2ecc71 !important;
}

.fa-phone,
.fa-map-marker,
.fa-envelope-o {
	margin-bottom: 10px;
	margin-right: 10px;
	font-size: 20px !important;
	color: #2ecc71;
}

.fa-map-marker {
	margin-right: 20px !important;
}

.fa-envelope-o {
	margin-bottom: 50px;
}

.mail {
	color: #2ecc71;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.mail:hover {
	color:#25a25a;
	transform: scale(1.2);
}

.pContact {
	width: 69%;
}

/********************************
           FOOTER
********************************/

.footer {
	background-color: #696969;
}

.footer p {
	display: inline-block;
	color: #fff;
	margin-top: 40px;
	margin-bottom: 25px;
}

.iconPosition {
	float: right;
	padding-right: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.author {
	color: #2ecc71;
	cursor: pointer;
}